# Ignore heavy model shards
Models/

# Ignore Python virtual environments
Venvs/

# Ignore Python virtual environments
Memory/

# Ignore planning description
Architecture_and_deployment.txt
constructionPlan.txt
constructionPlan.txt

# Ignore Gemma's soul

GemmaCLI/soulstack.json