# Ignore heavy model shards
Models/

# Ignore certificates
ssl/

# Ignore Gemma's soul
GemmaCLI/soulstack.json
GemmaCLI/core_prompt.json
GemmaCLI/soulstack_backup_*.json
GemmaDesktop/soulstack.json
GemmaDesktop/core_prompt.json
GemmaDesktop/soulstack_backup_*.json

GemmaDesktop/bin
GemmaDesktop/obj