# Ignore heavy model shards
Models/

# Ignore certificates
ssl/

# Ignore Gemma's soul

GemmaCLI/soulstack.json
GemmaCLI/core_prompt.json
GemmaCLI/soulstack_backup_*.json
GemmaCore/soulstack.json
GemmaCore/core_prompt.json
GemmaCore/soulstack_backup_*.json